<% if user_signed_in? %>
<% if current_user.admin? %>
<script type="text/javascript">window.location.href = "/admin_view"</script>
<% else %>
<h2 style="text-align:center;">Current Potential Issues</h2>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<h3 style="text-align:center;">Click any issues that  apply to your hospital. Active issues will be lit red.</h3>
    <% @issues.each do |issue| %>
    <% if issue.user == current_user %>
<table class="issue_table">

  <tbody>

      <tr>
        			 <% if issue.status == true%>
				<td class="issue_change_status" id="issue_change"><a href='/issues/<%= issue.id %>/status_change'><%= issue.title %></a></td> 
						<% else %>
					<td class="issue_change_status_red" id="issue_change"><a href='/issues/<%= issue.id %>/status_change'><%= issue.title %></a></td>
						<% end %> 
      </tr>

  </tbody>
</table>
      <% end %>
    <% end %>
<br>
</div>
</div>
<% end %>
<% end %>