<% if user_signed_in? && current_user.admin?%>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">User Overview</p>
			<h3 id="page_header_subtitle">Here you can view every user you've enrolled along with their current progress.</h3>
		</div>
		<% if @users_of_same_parent.where('admin = ?', false).count.to_i == 0 %>
		<h1 style="text-align:center;">There aren't any hospitals yet!</h1>
		<% else %>
		<table id="index_header">
			<tr>
			<td class="hospital_overview_header_name">
				Organization
			</div>
			<td class="hospital_overview_header_progress">
				Progress
			</td>
			</tr>
		</table>
<% @users_of_same_parent.order('organization asc').pluck(:id).each do |x| %>
	<% if User.find(x).admin == false %>
		<% @true_count = User.find(x).tasks.where('status = ?', true).count %>
		<% @total_count = User.find(x).tasks.count %>
		<% @progress_bar = number_to_percentage((@true_count.to_f / @total_count) * 100) %>
			<div class="hospital_overview_wrapper">
				<div class="hospital_overview_inner">
					<div class="hospital_overview_name">
			<%= link_to User.find(x).organization, admin_detail_path(:hospital_id => x) %>
					</div>
			<div class="hospital_overview_progress_outer">
				<div class="hospital_overview_progress_inner" style="width: <%= @progress_bar %>">
			</div>
		</div>
	</div>
</div>
		<% end %>
	<% end %>
<% end %>
<% if User.where('u_parent = ?', current_user.u_parent).where('admin = ?', false).count.to_i <= 2 %>
<% @users_remaining = 3 - (User.where('u_parent = ?', current_user.u_parent).where('admin = ?', false).count.to_i) %>
<%= link_to "Enroll a New User (#{@users_remaining} out of 3 remaining)", new_user_registration_path, class: "add_task" %>
<% else %>
<br />
<a href="mailto:kprather@smalljumps.com" class="add_task">You appear to have reached the user limit for your account.<br />Click here to contact us to discuss upgrade options.</a>
<% end %>
	</div>
</div>
<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>

