<% if user_signed_in? && current_user.admin? %>

<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Welcome, Administrator!</p>
			<h3 id="page_header_subtitle">This page is still in development, so please just ignore it for the time being.</h3>
			</div>
			</div>
			</div>

<% elsif user_signed_in? %>

<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Welcome, User!</p>
			<h3 id="page_header_subtitle">This page is still in development, so please just ignore it for the time being.</h3>
			</div>
			</div>
			</div>

<% else %>

<h1>Welcome!</h1>
<p>This page is still in development, so please just ignore it for the time being.</p>

<% end %>