<% if user_signed_in? && current_user.admin? %>

<script type="text/javascript">window.location.href = "/admin_view"</script>

<% elsif user_signed_in? %>

<script type="text/javascript">window.location.href = "/tasks"</script>

<% else %>

<div id="home_header">
	<div id="logo_wrapper">
		<img id="home_logo" src="https://s3.amazonaws.com/gaicd10rails/icd10logogrey.png" />
		<h2 id="home_sub_header">Easy-to-use, online software to track, manage and succeed with ICD-10.</h2>
	</div>
</div>

<div id="home_content_upper">
	<h1 id="home_signin_text">Already a user?</h1>
	<%= link_to 'Log In >', "http://www.icd10pm.com/users/sign_up", class: "home_signin_button" %>
	<h2 id="home_signin_text">Otherwise, <a href="mailto:kprather@smalljumps.com?subject=Requesting Information About ICD-10" id="home_email_link">send us an email</a> for more information.</h2>
</div>

<div id="home_content_lower">
</div>


<% end %>
