/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
	padding: 10px;
	min-height: 100px;
}

a, p, h1, h2, h3, h4, label, input, form, button, td {
	font-family: 'Raleway', sans-serif;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	text-decoration: none;
	-webkit-appearance: none;
}

#headerControlsWrapper {
	border-collapse: collapse;
	position: fixed;
	top: -125px;
	right: 0;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

#headerSignOut {
	background-color: rgba(225,93,106, 1);
	opacity: .7;
	display: block;
	padding: 10px;
}

#headerSignOut:hover {
	opacity: 1;
}

#headerModify {
	background-color: rgba(105,157,200, .7);
	opacity: .7;
	display: block;
	padding: 10px;
}

#headerModify:hover {
	background-color: rgba(105,157,200, 1);
	opacity: 1;
}

#headerViewAll {
	background-color: rgba(110,190,82, .7);
	opacity: .7;
	display: block;
	padding: 10px;
}

#headerViewAll:hover {
	background-color: rgba(110,190,82, 1);
	opacity: 1;
}

#signedInAs {
	background-color: rgba(255,255,255,.3);
	width: 100%;
	height: 50px;
	vertical-align: middle;
}

#ga-logo
{
	position:fixed;
	width:400px;
	top:50px;
	left:35%;
	margin-left:auto;
	margin-right:auto;
}

#ga-logo img
{
	width:400px;
}
