/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* font-family: 'Lato', sans-serif;
 * Green - #65be6e, rgb(101, 190, 110)
 */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a, h1, h2, h3, h4, input, button, form, td, th, label, textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none !important;
	color: white;
	font-family: 'Lato', sans-serif;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	border-radius: 0;
}

p {
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none !important;
	font-family: 'Lato', sans-serif;
	color: #444444;
}

h1, h2, h3, h4, label {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #444444;
}

textarea, textarea:focus, input, input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none;
	color: #333333;
	resize: none;
}

textarea {
	padding-top: 10px;
	padding-bottom: 10px
}

.text_link {
	color: #65be6e;
}

.text_link:hover {
	color: rgba(72,189,160, 1);
}

#logo {
	background-color: rgba(255,255,255,.7);
	font-size: 28px;
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	z-index: 99999999;
	vertical-align: middle;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	cursor: pointer;
}

#logo:hover {
	background-color: white;
}

#site_title {
	width: 45%;
	text-align: left;
	display: inline-block;
	font-size: 28px;
	color: white;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

#site_header_logo {
	width: 150px;
	padding: 5px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-left: 12px;
}

#logged_in_as {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: rgba(72,189,160, 1);
	padding: 0px;
	margin: 0px;
}

#page_header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 9999;
	padding-top: 15px;
}

#page_header_title {
	margin: 0;
	padding: 0;
	font-size: 50px;
	color: #444444;
}

#page_header_subtitle {
	color: #444444;
	text-align: left;
	font-size: 20px;
}

#page_header_progress {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	color: #444444;
}

.menu_header {
	font-weight: 300;
	text-align: center;
	color: white;
	width: 50px;
	height: 21px;
	background-color: #444444;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.header_logo_wrapper {
	cursor: pointer;
	width: 185px;
	background-color: #303030;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transition: .15s ease-out;
	-moz-transition: .15s ease-out;
	-o-transition: .15s ease-out;
	transition: .15s ease-out;
}

.menu_item {
	cursor: pointer;
	width: 185px;
	height: 50px;
	background-color: #333333;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transition: .15s ease-out;
	-moz-transition: .15s ease-out;
	-o-transition: .15s ease-out;
	transition: .15s ease-out;
}

.menu_item:hover {
	width: 185px;
}

.menu_item_text {
	width: 200px;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 55px;
	vertical-align: middle;
}

.app_icon_container {
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 220px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#signOutIcon {
	background-position: -128px 0px;
}

#accountModifyIcon {
	background-position: -43px -43px;
}

#issuesIcon {
	background-position: -85px 0px;
}

#helpIcon {
	background-position: -85px -43px;
}

#overviewIcon {
	background-position: -42px 0px;
}

#hospitalIndexIcon {
	background-position: 1px -43px;
}

#enrollIcon {
	background-position: -170px 0px;
}

.headerControlsWrapper, .headerControlsWrapperAdmin {
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #303030;
	width: 185px;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 99999999999;
	border-right: 10px solid white;
}

#sign_in_wrapper {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -225px;
	margin-top: -215px;
}

#headerSignOut:hover {
	background-color: rgba(225,93,106, 1);
}

#headerOverview:hover {
	background-color: rgba(105,157,200, 1);
}

#headerAccountModify:hover {
	background-color: rgba(72,189,160, 1);
}

#headerIssuesOverview:hover {
	background-color: rgba(127,0,255, 1);
}

#adminheaderIssuesOverview:hover {
	background-color: rgba(127,0,255, 1);
}

#headerViewAll:hover {
	background-color: rgba(110,190,82, 1);
}

#headerHelp:hover {
	background-color: rgba(242,198,80, 1);
}

#headerMasterTask:hover {
	background-color: rgba(105,157,200, 1);
}

#headerEnrollHospital:hover {
	background-color: #6EBE52;
}

#headerHospitalIndex:hover {
	background-color: #E59661;
}

.notice, .alert {
	font-family: 'Lato', sans-serif;
	opacity: 0;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	color: white;
	position: fixed;
	top: 0;
	z-index: 99999999999;
	background-color: rgba(0,0,0,.5);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.heading {
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
}

.sub_heading {
	font-family: 'Lato', sans-serif;
	color: #65BE6E;
	text-align: center;
	font-size: 35px;
	padding: 0;
	margin: 0;
}

.body_text {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color: white;
	text-align: left;
	font-size: 19px;
	width: 90%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;
}

.field_label {
	font-family: 'Lato', sans-serif;
	width: 100%;
	color: #444444;
	font-size: 22px;
	display: block;
	padding-bottom: 2px;
}

.field_input {
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 380px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	border: 3px solid white;
	border: 3px solid white;
	border-bottom: 3px solid #dddddd;
	border-top: 3px solid #dddddd;
	margin: 0;
}

.field_input:focus {
	border-bottom: 3px solid #65BE6E;
	border-top: 3px solid #65BE6E;
}

.field_input_general {
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 95%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	border: 3px solid white;
	border-bottom: 3px solid #dddddd;
	border-top: 3px solid #dddddd;
	margin: 0;
}

.field_input_general:focus {
	border-bottom: 3px solid #65BE6E;
	border-top: 3px solid #65BE6E;
}

.field_input_position {
	text-align: center;
	width: 10%;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	border: 3px solid white;
	border-bottom: 3px solid #dddddd;
	border-top: 3px solid #dddddd;
	margin: 0;
}

#position_field_label {
	padding: 0;
	margin: 0;
}

.field_input_position:hover {
	border-bottom: 3px solid #65BE6E;
	border-top: 3px solid #65BE6E;
}

.field_input_lname, .field_input_fname {
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	border: 3px solid white;
	border-bottom: 3px solid #dddddd;
	border-top: 3px solid #dddddd;
	margin: 0;
}

.field_input_lname:focus, .field_input_fname:focus {
	border-bottom: 3px solid #65BE6E;
	border-top: 3px solid #65BE6E;
}

.field_input_fname {
	position: relative;
}

.field_input_lname {
	position: absolute;
	top: 0;
	right: 0;
}

.delete_hospital_btn {
	display: block;
	position: static;
	width: 200px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 35px;
	background-color: white;
	color: rgb(186, 103, 107);
	margin: 0;
	margin-top: 20px;
	margin-left: auto;
	cursor: pointer;
	border: 4px solid rgb(186, 103, 107);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.delete_hospital_btn:hover {
	background-color: rgb(186, 103, 107);
	color: white;
}

.submit_btn {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 55px;
	padding-right: 55px;
	color: rgb(101, 190, 110);
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 20px;
	cursor: pointer;
	border: 4px solid rgb(101, 190, 110);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.submit_btn:hover {
	color: white;
	background-color: rgb(101, 190, 110);
}

.enroll_btn {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	text-align: center;
	color: rgb(101, 190, 110);
	margin: 0;
	position: relative;
	bottom: -15px;
	left: 0;
	cursor: pointer;
	border: 4px solid rgb(101, 190, 110);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.add_task_btn {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	text-align: center;
	color: rgb(101, 190, 110);
	margin: 0;
	position: relative;
	cursor: pointer;
	border: 4px solid rgb(101, 190, 110);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.add_task_btn:hover {
	background-color: rgb(101, 190, 110);
	color: white;
}

.enroll_btn:hover {
	background-color: rgb(101, 190, 110);
	color: white;
}

.cancel_btn {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border: 4px solid rgb(186, 103, 107);
	color: rgb(186, 103, 107);
	margin: 0;
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.cancel_btn:hover {
	color: white;
	background-color: rgb(186, 103, 107);
}

.back_btn {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: white;
	position: relative;
	color: rgb(186, 103, 107);
	margin-top: 10px;
	cursor: pointer;
	border: 4px solid rgb(186, 103, 107);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.back_btn:hover {
	background-color: rgb(186, 103, 107);
	color: white;
}

#page_content {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.inner_content {
	width: 450px;
	position: absolute;
}

/* ----------------------- LOG IN PAGE START ----------------------- */

#login_logo {
	width: 200px;
}

#login_box {
	background-color: white;
	width: 394px;
	height: 240px;
	border: 3px solid #65BE6E;
	margin: 0;
	padding: 25px;
	position: absolute;
	left: 0;
}

#login_box_wrapper {
	width: 400px;
	height: 350px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0;
	right: 0;
	top: 0;
}

#reset_box {
	background-color: white;
	width: 394px;
	height: 145px;
	border: 3px solid #65BE6E;
	margin: 0;
	padding: 25px;
	position: absolute;
	left: 0;
}

#login_fields {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 100%;
}

#ga_stars {
	position: absolute;
	left: 0;
	top: 15px;
}

#ga_stars img {
	width: 270px;
}

.hospital_overview_wrapper {
	width: 100%;
	margin-top: -3px;
}

.hospital_overview_inner {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-top: 3px solid #65BE6E;
	border-bottom: 3px solid #65BE6E;
}

.hospital_overview_name {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.hospital_overview_name a {
	margin-left: 10px;
	display: block;
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #444444;
}

.hospital_overview_name a:hover {
	color: #65be6e;
	padding-left: 10px;
}

.hospital_overview_progress_outer {
	width: 40%;
	height: 100%;
	background-color: #f1f1f1;
	position: absolute;
	right: 0;
	top: 0;
}

.hospital_overview_progress_inner {
	height: 100%;
	background-color: rgba(101,190,110,.8);
	box-shadow: -3px 0px 0px 0px rgba(255,255,255,.2) inset;
	position: absolute;
	left: 0;
	top: 0;
}

.hospital_overview_header_out {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 50px;
}

.hospital_overview_header_in {
	width: 75%;
	height: auto;
	max-width: 1000px;
	margin-left: 220px;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
}

#index_header {
	width: 100%;
}

.hospital_overview_header_name {
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-size: 26px;
	text-align: left;
	padding-bottom: 10px;
}

.hospital_overview_header_progress {
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-size: 26px;
	text-align: right;
	padding-bottom: 10px;
}

#form_outer_wrapper {
	position: relative;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#error_explanation h2 {
	text-align: center;
	color: #e85151;
}

#error_explanation {
	color: #e85151;
}

.task_list_master {
	width: 100%;
	border: 2px solid rgb(105, 157, 200);
	border-collapse: collapse;
	margin-top: 15px;
}

.task_list_green_before {
	width: 100%;
	border: 2px solid #65be6e;
	border-collapse: collapse;
	margin-top: 15px;
}

.task_list_green_after {
	border: 2px solid #65be6e !important;
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.task_list_red_before {
	width: 100%;
	border: 2px solid #e85151;
	border-collapse: collapse;
	margin-top: 15px;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.task_list_red_before a, .task_list_red_after a, .task_list_green_before a, .task_list_green_after a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100px !important;
}

.task_list_red_after {
	border: 2px solid #e85151 !important;
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.step {
	text-align: center;
	color: #333333;
	width: 50px;
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	cursor: default;
	background-color: #f1f1f1;
}

.change_status_green_before, .admin_change_status {
	width: 75px;
	background-color: #65be6e;
	text-align: center;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -295px -112px;
}

.change_status_green_after {
	width: 75px;
	text-align: center;
	background-color: #65be6e !important;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -295px -112px;
}

.change_status_green_after:hover {
	background-color: #8cdf94 !important;
}

.change_status_green_before:hover, .admin_change_status:hover {
	background-color: #8cdf94;
}

.change_status_red_before, .admin_change_status_red {
	width: 75px;
	background-color: #e85151;
	text-align: center;
	margin: 0px !important;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -295px -207px;
}

.change_status_red_after {
	width: 75px;
	text-align: center;
	background-color: #e85151 !important;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -295px -207px;
}

.change_status_red_after:hover {
	background-color: #f18181 !important;
}

.change_status_red_before:hover, .admin_change_status_red:hover {
	background-color: #f18181;
}

.change_status_green_before a, .admin_change_status a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75px;
}

.change_status_red_before a, .admin_change_status_red a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75px;
	margin: 0px !important;
}

.change_status_green_after a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75px;
}

.change_status_red_after a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75px;
	margin: 0px !important;
}

.task_title {
	color: #333333;
	padding-left: 10px;
	cursor: pointer;
	position: relative;
	font-size: 18px;
}

#hospital_issues_outer {
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,.1);
	position: relative;
	border-bottom: 3px solid rgba(232,81,81,.8);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

#hospital_progress_outer {
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,.1);
	position: relative;
	border-bottom: 3px solid rgba(101,190,110,.8);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

#hospital_progress_inner {
	height: 100%;
	background-color: rgba(101,190,110,.8);
	border-right: 3px solid rgba(255,255,255,.2);
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

#hospital_progress_inner_red {
	height: 100%;
	background-color: rgba(232,81,81,.8);
	border-right: 3px solid rgba(255,255,255,.2);
	position: absolute;
	left: 0;
	top: 0;
}

.admin_change_status {
	width: 100px;
}

.admin_change_status a {
	width: 100px;
}

.admin_change_status_red {
	width: 100px;
}

.admin_change_status_red a {
	width: 100px;
}

.task_modify {
	width: 100px;
	text-align: center;
	background-color: rgb(105, 157, 200);
}

.task_modify a {
	display: block;
	width: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.task_modify:hover {
	background-color: rgb(125, 177, 220);
}

.task_delete {
	width: 100px;
	text-align: center;
	background-color: #444444;
}

.task_delete a {
	display: block;
	width: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.task_delete:hover {
	background-color: red;
}

.add_task {
	border: 4px solid #65be6e;
	color: #65be6e;
	font-family: 'Lato', sans-serif;
	margin-top: 10px;
	font-size: 30px;
	display: block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.add_task:hover {
	background-color: #65be6e;
	color: white;
}

.task_description {
	overflow: hidden;
	width: 100%;
	max-width: 1000px;
	max-height: 0px;
	opacity: 0;
	background-color: rgb(125, 177, 220);
	color: white;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.task_description a {
	color: #357F3C;
}

.task_description a:hover {
	color: #444444;
}

.task_description p {
	color: white !important;
}

.note_wrapper {
	position: fixed;
	z-index: 99999999999999;
	width: 600px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -225px;
	background-color: #f1f1f1;
	border: 5px solid #fffdae;
	opacity: 0;
	display: none;
	box-shadow: 0px 0px 0px 500000px rgba(0,0,0,.6);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.note_header {
	width: 100%;
	background-color: #fffdae;
	border-bottom: 5px solid #fffdae;
	position: absolute;
	top: 0;
	text-align: left;
}

.note_step {
	font-size: 32px;
	color: #333333;
	display: inline;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
}

.note_title {
	display: inline;
	vertical-align: middle;
}

.note_close {
	color: #e85151;
	position: absolute;
	top: -16px;
	right: 0;
	background-color: #f1f1f1;
	padding: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 13px;
	cursor: pointer;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.note_close:hover {
	color: white;
	background-color: #e85151;
}

.note_save {
	font-size: 18px;
	color: rgb(101, 190, 110);
	border: none;
	position: absolute;
	top: -2px;
	right: 48px;
	background-color: #f1f1f1;
	padding: 11px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}

.note_save:hover {
	color: white;
	background-color: rgb(101, 190, 110);
}

.open {
	max-height: 300px;
	opacity: 1;
}

.task_description p {
	font-weight: 400;
	color: #333333;
	margin-left: 20px !important;
}

.double_td {
	padding: 0;
	margin: 0;
	text-align: right;
	width: 40px;
}

.click_for_more {
	opacity: 1;
	position: absolute;
	text-align: right;
	bottom: 0px;
	right: 20px;
	font-size: 14px;
	color: #444444;
}

.click_note {
	color: white;
	width: 100%;
	height: 19px;
	text-align: center;
	background-color: #777777;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 210px;
	background-repeat: no-repeat;
	background-position: -165px -44px;
}

.click_note:hover {
	background-color: rgb(251, 196, 148);
}

.note_present {
	background-color: rgb(251, 196, 148);
}

.click_note_text {
	color: white;
	width: 140px;
	height: 19px;
	text-align: right;
	background-color: #777777;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	float: right;
	opacity: 0;
}

.note_textbox {
	position: absolute;
	width: 557px;
	height: 365px;
	top: 50px;
	left: 6px;
	padding: 15px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background-color: rgba(255,255,255,.7);
	border: none;
}

.click_description {
	color: white;
	width: 100%;
	height: 19px;
	text-align: center;
	background-color: #777777;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	border-top: 1px solid rgba(255,255,255,.1);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	background-image: url('https://s3.amazonaws.com/gaicd10rails/appicons.png');
	background-size: 210px;
	background-repeat: no-repeat;
	background-position: -2px -84px;
}

.click_description:hover {
	background-color: rgb(125, 177, 220);
}

.click_description_text {
	color: white;
	width: 130px;
	height: 19px;
	text-align: right;
	background-color: #777777;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	overflow: hidden;
	border-top: 1px solid rgba(255,255,255,.1);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	float: right;
	opacity: 0;
}

.click_description_open {
	background-color: rgb(125, 177, 220);
}
.open_description_border {
	border-bottom: 2px solid rgb(125, 177, 220);
}

.change_password {
	display: block;
	overflow: hidden;
	position: relative;
	max-height: 0px;
	opacity: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.passchange {
	max-height: 1000px;
	opacity: 1;
}

#change_password_button {
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}

#change_password_button h3 {
	margin: 0;
	padding: 0;
}

.issue_table {
	width: 100%;
	margin-top: 15px;
}

.issue_change_status {
	border: 3px solid #444444;
}

.issue_change_status a {
	color: #777777;
}

.issue_change_status:hover {
	border: 3px solid #e85151;
	color: #e85151;
}

.issue_change_status_red {
	border: 3px solid #e85151;
	text-align: center;
	margin-top: 10px;
}

.issue_change_status a, .issue_change_status_red a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.issue_change_status:hover > a {
	color: #e85151;
}

.issue_change_status_red a {
	color: #e85151;
}

/* HOME PAGE RULES START HERE */

#home_header {
	width: 100%;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: -32px;
	border-top: 10px solid rgba(105,157,200, 1);
	border-bottom: 2px solid #d8d8d8;
}

#logo_wrapper {
	max-width: 1000px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#home_sub_header {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(105,157,200, 1);
	margin-top: 30px;
}

#home_logo {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#home_content_upper {
	width: 90%;
	max-width: 1200px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#home_signin_text {
	text-align: center;
	font-size: 50px;
	margin: 0;
	margin-top: 10px;
}

.home_signin_button {
	display: block;
	width: 50%;
	min-width: 100px;
	max-width: 390px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
	color: rgb(101, 190, 110);
	border: 5px solid rgb(101, 190, 110);
	font-weight: 300;
}

.home_signin_button:hover {
	background-color: rgb(101, 190, 110);
	color: #f1f1f1;
}

#home_content_lower {
	background-color: white;
	padding-top: 20px;
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-bottom: 2px solid #d8d8d8;
}

#home_email_link {
	color: rgba(105,157,200, 1);
}

#home_email_link:hover {
	color: rgba(135,187,230, 1);
}

/* HOME PAGE RULES END HERE */

/* MOBILE CSS RULES START HERE */

@media only screen and (max-width: 569px) {

	.hospital_overview_header_name, .hospital_overview_header_progress {
		font-size: 20px;
	}

	.hospital_overview_name {
		font-size: 14px;
	}

}