<h1 id="logo">ICD-10 Project Manager</h1>
<div class="headerControlsWrapper">
	<div class="menu_header">menu</div>
	<div class="menu_item" id="headerOverview">
		<div class="app_icon_container" id="overviewIcon">
			<%= link_to "Task List", tasks_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerIssuesOverview">
		<div class="app_icon_container" id="issuesIcon">
			<%= link_to "Record Issues", issues_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerAccountModify">
		<div class="app_icon_container" id="accountModifyIcon">
			<%= link_to "Modify Account", edit_user_registration_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerSignOut">
		<div class="app_icon_container" id="signOutIcon">
			<%= link_to "Sign out?", destroy_user_session_path, method: :delete, class: "menu_item_text" %>
		</div>
	</div>
</div>