<table class="headerControlsWrapper">
	<tr>
		<td><%= link_to "Sign out?", destroy_user_session_path, method: :delete, id: "headerSignOut" %></td>
	</tr>
	<tr>
		<td><%= link_to "Task List", tasks_path, id: "headerOverview" %></td>
	</tr>
	<tr>
		<td><%= link_to "Record Issues", issues_path, id: "headerIssuesOverview" %></td>
	</tr>
	<tr>
		<td id="signedInAs" style="cursor:pointer;"><%= "+ Logged in as #{current_user.organization}" %></td>
	</tr>
</table>